<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048870011994-j5ugidcrutvi39tsl7f6bqp4n1dkpu36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048870011994-j5ugidcrutvi39tsl7f6bqp4n1dkpu36</string>
	<key>API_KEY</key>
	<string>AIzaSyBan2-96t9QkQXpm9nHwvdTO9OJpYW0TSM</string>
	<key>GCM_SENDER_ID</key>
	<string>1048870011994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.ufpe.cin.academy.Needle</string>
	<key>PROJECT_ID</key>
	<string>needle-36b39</string>
	<key>STORAGE_BUCKET</key>
	<string>needle-36b39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048870011994:ios:ea4ad5f72846f8a23b4463</string>
</dict>
</plist>